params {
    q = 10
    config = './data/config.csv'
    core_nb = Integer.parseInt(System.getenv('NXF_CLI_CPUS') ?: '1')
}

docker {
    enabled = true
    runOptions= "--entrypoint=''  -u \$(id -u):\$(id -g)"
 }


 process {
    executor='local'
 
    withName: DOWNLOAD_FASTQ {
        container="mariuscharles/my-get:1.0.0"
    }

    withName: CUTADAPT {
        container="mariuscharles/cutadapt:1.11"
    }

    withName: DOWNLOAD_GENOME {
        container="mariuscharles/my-get:1.0.0"
    }

    withName: BUILD_INDEX {
        container="mariuscharles/bowtie:1.0.0"
    }

    withName: BOWTIE {
        container = "mariuscharles/bowtie:1.0.0"
    }

    withName: DOWNLOAD_GTF {
        container = "mariuscharles/my-get:1.0.0"
    }

    withName: FEATURECOUNTS {
        container = "mathisrescanieres/featurecount:1.4.6"
    }

    withName: DESEQ {
        container = "mafalda11/deseq_docker:1.16"
    }
 }
