docker {
    enabled = true
    runOptions= "--entrypoint=''  -u \$(id -u):\$(id -g)"
 }


 process {
    executor='local'
 
    withName: FASTQ_DOWN {
        container="mariuscharles/sra:1.0.0"
    }

    withName: CUTADAPT {
        container="mariuscharles/cutadapt:1.11"
    }

    withName: BOWTIE {
        container = "eliottserron974/bowtie-samtool:v1.0"
    }

    withName: FEATURECOUNTS {
        container = "mathisrescanieres/featurecount:1.4.6"
    }
 }
